default_language_version:
  python: python3.10
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.14.10'
  hooks:
  - id: ruff
    args: [ "--fix" ]
  - id: ruff-format
- repo: https://github.com/facebook/pyrefly-pre-commit
  rev: 0.46.0
  hooks:
    - id: pyrefly-check
      name: Pyrefly (type checking)
      language: system
      pass_filenames: false
ci:
  skip: [pyrefly-check]
