on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

name: Pre-commit

jobs:
  pre_commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Install Poetry
        uses: snok/install-poetry@v1.4.1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Install dependencies
        run: poetry install --with dev
      - name: Activate venv
        run: echo "$GITHUB_WORKSPACE/.venv/bin" >> $GITHUB_PATH
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files
